<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Home Page - Code Search</title>
    <link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/default.min.css">
    <link class="codestyle" rel="stylesheet" href="/static/railscasts.css">

</head>
<body>
<!--<pre class="prettyprint">{{name}}</pre>-->
<div style="margin: 50px; font-family: 'Courier New'; font-size: 20px">
    Code lmao
    <pre style="font-size: 18px"><code class="language-python" style="atom-one-dark">{{name}}</code></pre>
</div>


</body>
<!--<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>-->
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</html>